<h2>Sectors</h2>
<!-- Get the selected sector -->
<mat-button-toggle-group
    class="sector-names"
    (change)="sectorChanged($event)">
  <mat-button-toggle *ngFor="let sector of sectors | async" [value]="sector">
    {{sector.textName}}
  </mat-button-toggle>
</mat-button-toggle-group>

<ng-container *ngIf="(selectedSector | async) as selected">
  <h2>{{selected.textName}} Events</h2>
  <table>
    <thead>
      <th>Event Key</th>
      <th>Count</th>
      <th>P(Beacon)</th>
      <th>P(At least one)</th>
    </thead>
    <tbody>
      <tr *ngFor="let event of selected.events">
        <td>{{event.keyName}}</td>
        <td>{{formatCount(event)}}</td>
        <td>{{event.probability.beacon | percent:'1.0-2'}}</td>
        <td>{{event.probability.wholeSector | percent:'1.0-2'}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
